.small-listing .overview-left {
  padding: 10px;
}

.status-overview {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  color: var(--neutral--700);
  background-color: #dedede;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 11px;
  font-weight: 400;
  display: flex;
  overflow: auto;
}
