<div class="section-regular">
  <div class="container">
    <div class="settings contents wide">
      <div class="aside">
        <div class="menus-wrap">
          <div class="menus">
            <a routerLink="./notes" class="menu" routerLinkActive="--current"><i class="fi fi fi-rr-document icon small-icon"></i>
              <div class="setting-label">Notes</div>
            </a>
            <a routerLink="./users" class="menu" routerLinkActive="--current"><i class="fi fi-rr-users icon small-icon"></i>
              <div class="setting-label">Users</div>
            </a>
            <div class="menu-separator"></div>
            <a routerLink="./reviews" class="menu" routerLinkActive="--current"><i class="fi fi-rr-feedback icon small-icon"></i>
              <div class="setting-label">Reviews</div>
            </a>
            <a routerLink="./schools" class="menu" routerLinkActive="--current"><i class="fi fi-rr-school icon small-icon"></i>
              <div class="setting-label">Schools</div>
            </a>
            <a routerLink="./subjects" class="menu" routerLinkActive="--current"><i class="fi fi-rr-graduation-cap icon small-icon"></i>
              <div class="setting-label">Subjects</div>
            </a>
            <div class="menu-separator"></div>
            <a routerLink="./purchases" class="menu" routerLinkActive="--current"><i class="fi fi-rr-receipt icon small-icon"></i>
              <div class="setting-label">Purchases</div>
            </a>
            <a routerLink="./transactions" class="menu" routerLinkActive="--current"><i class="fi fi-rr-credit-card icon small-icon"></i>
              <div class="setting-label">Transactions</div>
            </a>
            <a routerLink="./refunds" class="menu" routerLinkActive="--current"><i class="fi fi-rr-restock icon small-icon"></i>
              <div class="setting-label">Refunds</div>
            </a>
            <a routerLink="./withdrawals" class="menu" routerLinkActive="--current"><i class="fi fi-rr-send-money icon small-icon"></i>
              <div class="setting-label">Withdrawals</div>
            </a>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
