<h3 class="settings-heading" xmlns="http://www.w3.org/1999/html">User</h3>
<div *ngIf="errorMessage" class="overview info-message">
  <div class="overview-left">
    <i class="fi fi-rr-cross-circle icon small-icon"></i>
    <div class="label-wrap">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
<div class="card">
  <div *ngIf="isLoading" class="loading-container">
    <div class="loading-bar"></div>
  </div>
  @if (errorMessage) {
    <app-page-not-found></app-page-not-found>
  } @else {
    @if (authenticationService.isLoggedIn && [NativeUser.AccountType.ADMIN, NativeUser.AccountType.STAFF].includes(nativeUser?.accountType || '')) {
      <div class="grid-container">
        <div *ngIf="user" class="card-section">
          <div class="overview">
            <div class="overview-span">
              <div class="table-wrap">
                <table class="unlimited-lines compact flush">
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <h6 class="table-text subheading dark">{{ user.name }}</h6>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <img src="{{ user | getImageUrl }}" loading="lazy" class="avatar">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">ID:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user._id }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">UID:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user.uid }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Name:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user.name }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Username:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user.username }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Bio:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user.bio ? user.bio : 'N/A' }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Account Type:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user.accountType }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Student Details:</div>
                      </div>
                    </th>
                    @if (user.studentDetails) {
                      <td>
                        <div class="table-content-wrap content-align-right">
                          <div class="overview small">
                            <div class="overview-span">
                              <div class="table-wrap">
                                <table class="unlimited-lines compact flush">
                                  <tr>
                                    <th>
                                      <div class="table-content-wrap content-align-left">
                                        <div class="table-text">Is Active?</div>
                                      </div>
                                    </th>
                                    <td>
                                      <div class="table-content-wrap content-align-right">
                                        <div class="table-text">{{ user.studentDetails.isActive ? 'Yes' : 'No' }}</div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>
                                      <div class="table-content-wrap content-align-left">
                                        <div class="table-text">School ({{ user.studentDetails.school?.visibility }}):</div>
                                      </div>
                                    </th>
                                    <td>
                                      <div class="table-content-wrap content-align-right">
                                        <div class="table-text">{{ user.studentDetails.school?.school ? user.studentDetails.school?.school : 'N/A' }}</div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <th>
                                      <div class="table-content-wrap content-align-left">
                                        <div class="table-text">Subjects ({{ user.studentDetails.subjects?.visibility }}):</div>
                                      </div>
                                    </th>
                                    <td>
                                      <div class="table-content-wrap content-align-right">
                                        <div class="table-text">
                                          @if (user.studentDetails.subjects?.subjects?.length) {
                                            @for (subject of user.studentDetails.subjects?.subjects; track $index) {
                                              •&nbsp;{{ subject }}<br>
                                            }
                                          } @else {
                                            N/A
                                          }
                                        </div>
                                      </div>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    } @else {
                      N/A
                    }
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Balance (incl. pending):</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user.balance | formatPrice:FormatPricePipe.prefixType.MINUS_ONLY  }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Available Balance:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ user.availableBalance | formatPrice:FormatPricePipe.prefixType.MINUS_ONLY  }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Date Created:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">
                          {{ user.dateCreated.toLocaleString("en-AU", {
                          month: "short",
                          day: "numeric",
                          year: "numeric",
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: true
                        }) }}
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Date Updated:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">
                          {{ user.dateUpdated.toLocaleString("en-AU", {
                          month: "short",
                          day: "numeric",
                          year: "numeric",
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: true
                        }) }}
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="overview-right">
              <div *ngIf="nativeUser?.accountType === NativeUser.AccountType.ADMIN && nativeUser?.uid !== user?.uid" class="item-actions no-stretch">
                <button (click)="toggleEditUserAdmin()" class="button">
                  <div class="button-text-wrap justify-left"><i class="fi fi-rr-pencil icon mini-icon"></i>Edit</div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-section">
          <div class="items-header">
            <h5 class="header-title">Transactions</h5>
            <div class="sort-form-block">
              <form (ngSubmit)="serveTransactions()">
                <select [(ngModel)]="transactionsSortBy" (ngModelChange)="serveTransactions()" class="dropdown-sort select" name="transactionsSortBy">
                  <option value="date-created-desc">Date Created: Newest</option>
                  <option value="date-created-asc">Date Created: Oldest</option>
                  <option value="date-updated-desc">Date Updated: Newest</option>
                  <option value="date-updated-asc">Date Updated: Oldest</option>
                  <option value="amount-asc">Amount: Low to High</option>
                  <option value="amount-desc">Amount: High to Low</option>
                </select>
              </form>
            </div>
          </div>
          @if (transactions.length > 0) {
            <div class="overview">
              <div class="overview-span">
                <div class="table-wrap limited-height">
                  <table class="compact flush">
                    <tr>
                      <th class="table-link-cell"></th>
                      <th><div class="table-content-wrap"><div class="table-text">Item</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Type</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Amount</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Status</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Fulfilment Date</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Date Created</div></div></th>
                      <th></th>
                    </tr>
                    @for (transaction of transactions; track $index) {
                      <tr class="table-link">
                        <td class="table-link-cell">
                          <a [routerLink]="['/admin/transactions', transaction._id]" tabindex="0" class="link-block"></a>
                        </td>
                        <td>
                          @if ([Transaction.TransactionType.SALE, Transaction.TransactionType.REFUND].includes(transaction.info?.transactionType || "")) {
                            @switch (transaction.detailedItem?._index) {
                              @case (Note.indexName) {
                                <div class="table-content-wrap content-align-left">
                                  <a [routerLink]="['/admin/notes', transaction.detailedItem?._id]" class="table-text link-underline-hover"> {{ transaction.detailedItem?.title }} </a>
                                </div>
                              }
                            }
                          } @else {
                            <div class="table-content-wrap">
                              <div class="table-text">N/A</div>
                            </div>
                          }
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="table-text">
                              @switch (transaction.info?.transactionType) {
                                @case (Transaction.TransactionType.REFUND) {Refund}
                                @case (Transaction.TransactionType.SALE) {Sale}
                                @case (Transaction.TransactionType.WITHDRAWAL) {Withdrawal}
                              }
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap content-align-right">
                            <div class="table-text">{{ transaction.amount | formatPrice:FormatPricePipe.prefixType.PLUS_AND_MINUS }}</div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="item-details">
                              <div class="category status" [style.background-color]="(transaction | getStatus).backgroundColour">
                                <div class="category-text status" [style.color]="(transaction | getStatus).textColour">
                                  {{ (transaction | getStatus).text }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="table-text">{{ transaction.fulfilmentDate ? transaction.fulfilmentDate.toLocaleString("en-AU", {
                              month: "short",
                              day: "numeric",
                              year: "numeric",
                              hour: "2-digit",
                              minute: "2-digit",
                              hour12: true
                            }) : 'N/A' }}</div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="table-text">{{ transaction.dateCreated.toLocaleDateString("en-AU", {
                              month: "short",
                              day: "numeric",
                              year: "numeric"
                            }) }}</div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <button (click)="toggleTransactionContextMenu($event, transaction)" type="button" class="button no-border circle-btn small transparent">
                              <i class="fi fi-rs-menu-dots-vertical icon mini-icon"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    }
                  </table>
                </div>
              </div>
            </div>
            <div class="items-footer">
              @if (transactionsIsLoadMoreEnabled) {
                <button (click)="servePurchases(transactions[transactions.length -1].sort)" class="pill-btn dark small button">
                  <div class="small-text button-text-wrap">Load More</div>
                </button>
              } @else {
                <p class="text-fine-print align-center">You've reached the end. No more transactions beyond this point.</p>
              }
            </div>
          } @else {
            <div class="empty-message-wrap">
              <p class="footer-text">User has no transactions.</p>
            </div>
          }
        </div>
        <div class="card-section span">
          <div class="items-header">
            <h5 class="header-title">Purchases</h5>
            <div class="sort-form-block">
              <form (ngSubmit)="servePurchases()">
                <select [(ngModel)]="purchasesSortBy" (ngModelChange)="servePurchases()" class="dropdown-sort select" name="purchasesSortBy">
                  <option value="date-created-desc">Date Created: Newest</option>
                  <option value="date-created-asc">Date Created: Oldest</option>
                  <option value="date-updated-desc">Date Updated: Newest</option>
                  <option value="date-updated-asc">Date Updated: Oldest</option>
                  <option value="price-asc">Price: Low to High</option>
                  <option value="price-desc">Price: High to Low</option>
                </select>
              </form>
            </div>
          </div>
          @if (purchases.length > 0) {
            <div class="overview">
              <div class="overview-span">
                <div class="table-wrap">
                  <table class="compact flush">
                    <tr>
                      <th class="table-link-cell"></th>
                      <th><div class="table-content-wrap"><div class="table-text">Seller</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Item</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Price</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Status</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Payment Method</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Date Created</div></div></th>
                      <th><div class="table-content-wrap"><div class="table-text">Date Updated</div></div></th>
                      <th></th>
                    </tr>
                    @for (purchase of purchases; track $index) {
                      <tr class="table-link">
                        <td class="table-link-cell">
                          <a [routerLink]="['/admin/purchases', purchase._id]" tabindex="0" class="link-block"></a>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <a [routerLink]="['/admin/users', purchase.seller]" class="table-text link-underline-hover">{{ purchase.seller?.username }}</a>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap content-align-left">
                            @switch (purchase.item?._index) {
                              @case (Note.indexName) {
                                <a [routerLink]="['/admin/notes', purchase.item?._id]" class="table-text link-underline-hover"> {{ purchase.detailedItem?.title }} </a>
                              }
                            }
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="table-text">{{ purchase.price?.total | formatPrice:FormatPricePipe.prefixType.MINUS_ONLY }}</div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="item-details">
                              <div class="category status" [style.background-color]="(purchase | getStatus).backgroundColour">
                                <div class="category-text status" [style.color]="(purchase | getStatus).textColour">
                                  {{ (purchase | getStatus).text }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap content-align-right">
                            @switch (purchase.paymentMethod) {
                              @case (Purchase.PaymentMethod.FREE) {
                                Free
                              }
                              @case (Purchase.PaymentMethod.PAYPAL) {
                                <img src="/icons/paypal_logo_wide.svg" loading="lazy" class="icon medium-large-icon no-height-restrictions">
                              }
                              @case (Purchase.PaymentMethod.CREDIT) {
                                Credit
                              }
                            }
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="table-text">
                              {{ purchase.dateCreated.toLocaleDateString("en-AU", {
                              month: "short",
                              day: "numeric",
                              year: "numeric"
                            }) }}
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <div class="table-text">
                              {{ purchase.dateUpdated.toLocaleDateString("en-AU", {
                              month: "short",
                              day: "numeric",
                              year: "numeric"
                            }) }}
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-content-wrap">
                            <button (click)="togglePurchaseContextMenu($event, purchase)" type="button" class="button no-border circle-btn small transparent">
                              <i class="fi fi-rs-menu-dots-vertical icon mini-icon"></i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    }
                  </table>
                </div>
              </div>
            </div>
            <div class="items-footer">
              @if (purchasesIsLoadMoreEnabled) {
                <button (click)="servePurchases(purchases[purchases.length -1].sort)" class="pill-btn dark small button">
                  <div class="small-text button-text-wrap">Load More</div>
                </button>
              } @else {
                <p class="text-fine-print align-center">You've reached the end. No more purchases beyond this point.</p>
              }
            </div>
          } @else {
            <div class="empty-message-wrap">
              <p class="footer-text">User has no purchases.</p>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="card-section">
        <div class="empty-message-wrap">
          <p class="footer-text"><a (click)="toggleLogin()" class="link-underline-hover pink">Log in</a> as an administrator/staff to view admin pages.</p>
        </div>
      </div>
  }
}
</div>
