<h3 class="settings-heading" xmlns="http://www.w3.org/1999/html">Subjects</h3>
<div *ngIf="errorMessage" class="overview info-message">
  <div class="overview-left">
    <i class="fi fi-rr-cross-circle icon small-icon"></i>
    <div class="label-wrap">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
<div class="card">
  <div *ngIf="isLoading" class="loading-container">
    <div class="loading-bar"></div>
  </div>
  @if (errorMessage) {
    <app-page-not-found></app-page-not-found>
  } @else {
    @if (authenticationService.isLoggedIn && [NativeUser.AccountType.ADMIN, NativeUser.AccountType.STAFF].includes(nativeUser?.accountType || '')) {
      <div class="grid-container">
        <div class="card-section">
          <div class="overview">
            <div class="overview-span">
              <div class="table-wrap">
                <table class="unlimited-lines compact flush">
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">ID:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ subject?._id }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Name:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ subject?.name }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Certificate:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">{{ subject?.certificate ? subject?.certificate : 'N/A' }}</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Date Created:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">
                          {{ subject?.dateCreated?.toLocaleString("en-AU", {
                          month: "short",
                          day: "numeric",
                          year: "numeric",
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: true
                        }) }}
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="table-content-wrap content-align-left">
                        <div class="table-text">Date Updated:</div>
                      </div>
                    </th>
                    <td>
                      <div class="table-content-wrap content-align-right">
                        <div class="table-text">
                          {{ subject?.dateUpdated?.toLocaleString("en-AU", {
                          month: "short",
                          day: "numeric",
                          year: "numeric",
                          hour: "2-digit",
                          minute: "2-digit",
                          hour12: true
                        }) }}
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="overview-right">
              <div class="item-actions no-stretch">
                <button (click)="toggleEditSubjectAdmin()" class="button">
                  <div class="button-text-wrap justify-left"><i class="fi fi-rr-pencil icon mini-icon"></i>Edit</div>
                </button>
                <button (click)="toggleSubjectContextMenu($event, subject)" class="button no-border circle-btn small transparent">
                  <i class="fi fi-rs-menu-dots-vertical icon mini-icon"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="card-section">
        <div class="empty-message-wrap">
          <p class="footer-text"><a (click)="toggleLogin()" class="link-underline-hover pink">Log in</a> as an administrator/staff to view admin pages.</p>
        </div>
      </div>
    }
  }
</div>
