/********HEADER SECTION********/
.sale-content-tutor {
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
}
/********CONTENTS SECTION********/

/********************************/
