<h3 class="settings-heading">Schools</h3>
<div *ngIf="errorMessage" class="overview info-message">
  <div class="overview-left">
    <i class="fi fi-rr-cross-circle icon small-icon"></i>
    <div class="label-wrap">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-section">
    @if (authenticationService.isLoggedIn && [NativeUser.AccountType.ADMIN, NativeUser.AccountType.STAFF].includes(nativeUser?.accountType || '')) {
      <form class="overview" id="filter" #form="ngForm" (ngSubmit)="serveSchools()" novalidate>
        <div class="overview-left filters large">
          <div class="input-wrap">
            <label>Name&nbsp;/&nbsp;Locality&nbsp;/&nbsp;Region&nbsp;/&nbsp;Postcode</label>
            <input [(ngModel)]="searchQuery" required name="schoolSearchQuery" autocomplete="schoolSearchQuery" class="form-field input" placeholder="Enter a name, locality, region or postcode" type="text">
          </div>
          <div class="input-wrap">
            <label>ID*</label>
            <input [(ngModel)]="filters._id" required name="schoolId" autocomplete="schoolId" class="form-field input" placeholder="Enter a school ID" type="text">
          </div>
          <div class="input-wrap">
            <label>ACARA ID*</label>
            <input [(ngModel)]="filters.acaraId" required name="acaraId" autocomplete="acaraId" class="form-field input" placeholder="Enter an ACARA ID" type="text">
          </div>
          <div class="input-wrap">
            <label>Parent Campus ACARA ID*</label>
            <input [(ngModel)]="filters.campusParentAcaraId" required name="campusParentAcaraId" autocomplete="campusParentAcaraId" class="form-field input" placeholder="Enter a parent campus ACARA ID" type="text">
          </div>
          <div class="input-wrap">
            <label>Type*</label>
            <select [(ngModel)]="filters.schoolType" class="dropdown-sort select" name="type">
              <option value="">-- Any --</option>
              @for (type of Object.entries(School.SchoolType); track $index) {
                <option value="{{type[1]}}">{{ type[0] }}</option>
              }
            </select>
          </div>
          <div class="input-wrap">
            <label>Sector*</label>
            <select [(ngModel)]="filters.sector" class="dropdown-sort select" name="sector">
              <option value="">-- Any --</option>
              @for (sector of Object.entries(School.SchoolSector); track $index) {
                <option value="{{sector[1]}}">{{ sector[0] }}</option>
              }
            </select>
          </div>
          <div class="input-wrap">
            <label>Status*</label>
            <select [(ngModel)]="filters.status" class="dropdown-sort select" name="status">
              <option value="">-- Any --</option>
              @for (status of Object.entries(School.SchoolStatus); track $index) {
                <option value="{{status[1]}}">{{ status[0] }}</option>
              }
            </select>
          </div>
          <div class="input-wrap">
            <label class="checkbox-container">
              <input [ngModel]="filters.parentCampusOnly === true" (ngModelChange)="filters.parentCampusOnly = $event ? true : undefined" name="parentCampusOnly" type="checkbox"><div class="checkbox"></div>
              <p>Is Parent Campus?</p>
            </label>
          </div>
        </div>
        <div class="overview-right">
          <div class="item-actions no-stretch">
            <select [(ngModel)]="sortBy" class="dropdown-sort select" name="sortBy">
              <option value="relevance">Relevance</option>
              <option value="date-created-desc">Date Created: Newest</option>
              <option value="date-created-asc">Date Created: Oldest</option>
              <option value="date-updated-desc">Date Updated: Newest</option>
              <option value="date-updated-asc">Date Updated: Oldest</option>
            </select>
            <button type="submit" class="action-btn button pill-btn dark">
              <div class="button-text-wrap"><i class="fi fi-rr-search icon mini-icon white"></i>Search</div>
            </button>
            <button (click)="clearForm(form)" type="button" class="button circle-btn small">
              <i class="fi fi-rr-cross icon mini-icon"></i>
            </button>
          </div>
        </div>
      </form>
      <form class="form" id="updateSchools" #updateForm="ngForm" (ngSubmit)="updateSchools(updateForm)" novalidate>
        <div class="input-wrap">
          <label for="schoolsJson" class="action-btn button pill-btn">
            <input (change)="onJsonFileSelected()" type="file" id="schoolsJson" name="schoolsJson" #schoolsJson accept=".json">
            <div class="button-text-wrap"><i class="fi fi-br-upload icon mini-icon"></i>Upload ACARA schools list (JSON)</div>
          </label>
          <div class="upload-btn-info" *ngIf="jsonFile">
            <p class="text-fine-print">{{ jsonFile.name }}</p>
            <button type="button" (click)="removeJsonFile()" class="button circle-btn no-border transparent mini"><i class="fi fi-rr-cross icon nano-icon"></i></button>
          </div>
          <div class="overview-right">
            <div class="item-actions">
              <button *ngIf="updateForm.valid && this.jsonFile" type="submit" class="action-btn pill-btn dark button">
                <div class="button-text-wrap">Upload</div>
              </button>
            </div>
          </div>
        </div>
      </form>
      @if (isLoading) {
        <div class="loading-container">
          <div class="loading-bar"></div>
        </div>
      } @else {
        <div class="menu-separator"></div>
      }
      @if (schools.length > 0) {
        <div class="table-wrap">
          <table class="compact">
            <tr>
              <th class="table-link-cell"></th>
              <th><div class="table-content-wrap"><div class="table-text">Name</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Type</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Sector</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Status</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Locality</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Region</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Postcode</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Date Created</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Date Updated</div></div></th>
              <th></th>
            </tr>
            @for (school of schools; track $index) {
              <tr class="table-link">
                <td class="table-link-cell">
                  <a [routerLink]="['/admin/schools', school._id]" tabindex="0" class="link-block"></a>
                </td>
                <td>
                  <div class="table-content-wrap content-align-left">
                    <div class="table-text">{{ school?.name }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school?.schoolType }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school?.sector }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school?.status }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school?.locality }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school?.region }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school?.postcode }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school.dateCreated.toLocaleDateString("en-AU", {
                      month: "short",
                      day: "numeric",
                      year: "numeric"
                    }) }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ school.dateUpdated.toLocaleDateString("en-AU", {
                      month: "short",
                      day: "numeric",
                      year: "numeric"
                    }) }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <button (click)="toggleContextMenu($event, school)" type="button" class="button no-border circle-btn small transparent">
                      <i class="fi fi-rs-menu-dots-vertical icon mini-icon"></i>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </table>
        </div>
        <div class="items-footer">
          @if (isLoadMoreEnabled) {
            <button (click)="serveSchools(schools[schools.length -1].sort)" class="pill-btn small button">
              <div class="small-text button-text-wrap">Load More</div>
            </button>
          } @else {
            <p class="text-fine-print align-center">You've reached the end. No more schools beyond this point.</p>
          }
        </div>
      } @else {
        <div class="empty-message-wrap">
          <p class="footer-text">Search returned no results.</p>
        </div>
      }
    } @else {
      <div class="empty-message-wrap">
        <p class="footer-text"><a (click)="toggleLogin()" class="link-underline-hover pink">Log in</a> as an administrator/staff to view admin pages.</p>
      </div>
    }
  </div>
</div>
