<div class="dialog-card">
  <button (click)="closeAllDialogs()" class="button circle-btn no-border outer-corner"><i class="fi fi-rr-cross icon micro-icon"></i></button>
  <div class="card-section">
    <h4 class="dialog-title">Update password</h4>
    <form class="form" id="updatePassword" #form="ngForm" (ngSubmit)="updatePassword(form)" novalidate>
      <div class="input-wrap">
        <label>Password</label>
        <input [(ngModel)]="password" [ngClass]="{'error': (form['submitted'] && form.controls['password'].invalid)}" required name="password" autocomplete="new-password" class="form-field input" placeholder="Create a password" [pattern]="passwordRegex" type="password">
        <div class="form-error-text" *ngIf="form['submitted'] && form.controls['password'].invalid">
          @if (form.controls['password'].errors?.['required']) {
            *Password is required.
          } @else if (form.controls['password'].errors?.['pattern']) {
            *Password must contain at least:<br>&nbsp;&#x2022; 8 characters<br>&nbsp;&#x2022; 1 upper case letter<br>&nbsp;&#x2022; 1 lower case letter<br>&nbsp;&#x2022; 1 number<br>&nbsp;&#x2022; 1 special character.
          } @else {
            *Password is invalid.
          }
        </div>
        <input [(ngModel)]="confirmPassword" (ngModelChange)="validateConfirmPassword(form)" [ngClass]="{'error': (form['submitted'] && form.controls['confirmPassword'].invalid)}" required name="confirmPassword" autocomplete="new-password" class="form-field input" placeholder="Re-enter password" type="password">
        <div class="form-error-text" *ngIf="form['submitted'] && form.controls['confirmPassword'].invalid">
          @if (form.controls['confirmPassword'].errors?.['required']) {
            *Password confirmation is required.
          } @else if (form.controls['confirmPassword'].errors?.['mismatch']) {
            *Passwords do not match.
          } @else {
            *Password confirmation is invalid.
          }
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="errorMessage || successMessage">
    <div class="form-error-text" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="form-success-text"><i class="fi fi-br-check icon micro-icon green"></i>{{ successMessage }}</div>
  </div>
  <div class="item-actions">
    <button [disabled]="isLoading" form="updatePassword" type="submit" class="action-btn dark button">
      <div class="button-text-wrap">{{ isLoading? "Loading..." : "Update password" }}</div>
    </button>
  </div>
</div>
