<div class="dialog-card">
  <button (click)="closeAllDialogs()" class="button circle-btn no-border outer-corner"><i class="fi fi-rr-cross icon micro-icon"></i></button>
  <div class="card-section">
    <h4 class="dialog-title">Reject note</h4>
    <form class="form" id="editNote" #form="ngForm" (ngSubmit)="updateNote(form)" novalidate>
      <div class="input-wrap">
        <label>Flagged Sections</label>
        @for (flaggedSection of Object.entries(Note.RejectReasonFlaggedSection); track $index) {
          <label class="checkbox-container">
            <input ngModel value="{{flaggedSection[1]}}" (change)="onFlaggedSectionToggle(flaggedSection[1], $event)" [checked]="isFlaggedSectionSelected(flaggedSection[1])" name="flaggedSections" type="checkbox"><div class="checkbox"></div>
            <p>{{ flaggedSection[0] }}</p>
          </label>
        }
        <div class="form-error-text" *ngIf="form['submitted'] && form.controls['flaggedSections'].invalid">
          @if (form.controls['flaggedSections'].errors?.['required']) {
            *Flagged sections is required.
          } @else {
            *Flagged sections is invalid.
          }
        </div>
      </div>
      <div class="input-wrap">
        <label>Feedback</label>
        <textarea [(ngModel)]="rejectReason.feedback" [ngClass]="{'error': (form['submitted'] && form.controls['feedback'].invalid)}" required name="feedback" class="text-area" autocomplete="off" minlength="1" maxlength="2000" placeholder="Enter feedback" [pattern]="nonEmptyRegex" type="text"></textarea>
        <div class="form-error-text" *ngIf="form['submitted'] && form.controls['feedback'].invalid">
          @if (form.controls['feedback'].errors?.['required']) {
            *Feedback is required.
          } @else {
            *Feedback is invalid.
          }
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="errorMessage || successMessage">
    <div class="form-error-text" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="form-success-text"><i class="fi fi-br-check icon micro-icon green"></i>{{ successMessage }}</div>
  </div>
  <div class="item-actions">
    <button [disabled]="isLoading" form="editNote" type="submit" class="action-btn dark button">
      <div class="button-text-wrap">{{ isLoading? "Loading..." : "Reject" }}</div>
    </button>
  </div>
</div>
