<h3 class="settings-heading">Refunds</h3>
<div *ngIf="errorMessage" class="overview info-message">
  <div class="overview-left">
    <i class="fi fi-rr-cross-circle icon small-icon"></i>
    <div class="label-wrap">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-section">
    @if (authenticationService.isLoggedIn && [NativeUser.AccountType.ADMIN, NativeUser.AccountType.STAFF].includes(nativeUser?.accountType || '')) {
      <form class="overview" id="filter" #form="ngForm" (ngSubmit)="serveRefunds()" novalidate>
        <div class="overview-left filters large">
          <div class="input-wrap">
            <label>Reason Description</label>
            <input [(ngModel)]="searchQuery" required name="refundSearchQuery" autocomplete="refundSearchQuery" class="form-field input" placeholder="Enter a reason description" type="text">
          </div>
          <div class="input-wrap">
            <label>ID*</label>
            <input [(ngModel)]="filters._id" required name="refundId" autocomplete="refundId" class="form-field input" placeholder="Enter a refund ID" type="text">
          </div>
          <div class="input-wrap">
            <label>Reason Type*</label>
            <select [(ngModel)]="filters.reasonType" class="dropdown-sort select" name="reasonType">
              <option value="">-- Any --</option>
              @for (reason of Object.entries(Refund.RefundReason); track $index) {
                <option value="{{reason[1]}}">{{ reason[0] }}</option>
              }
            </select>
          </div>
          <div class="input-wrap">
            <label>Status*</label>
            <select [(ngModel)]="filters.status" class="dropdown-sort select" name="status">
              <option value="">-- Any --</option>
              @for (status of Object.entries(Refund.RefundStatus); track $index) {
                <option value="{{status[1]}}">{{ status[0] }}</option>
              }
            </select>
          </div>
        </div>
        <div class="overview-right">
          <div class="item-actions no-stretch">
            <select [(ngModel)]="sortBy" class="dropdown-sort select" name="sortBy">
              <option value="relevance">Relevance</option>
              <option value="date-created-desc">Date Created: Newest</option>
              <option value="date-created-asc">Date Created: Oldest</option>
              <option value="date-updated-desc">Date Updated: Newest</option>
              <option value="date-updated-asc">Date Updated: Oldest</option>
            </select>
            <button type="submit" class="action-btn button pill-btn dark">
              <div class="button-text-wrap"><i class="fi fi-rr-search icon mini-icon white"></i>Search</div>
            </button>
            <button (click)="clearForm(form)" type="button" class="button circle-btn small">
              <i class="fi fi-rr-cross icon mini-icon"></i>
            </button>
          </div>
        </div>
      </form>
      @if (isLoading) {
        <div class="loading-container">
          <div class="loading-bar"></div>
        </div>
      } @else {
        <div class="menu-separator"></div>
      }
      @if (refunds.length > 0) {
        <div class="table-wrap">
          <table class="compact">
            <tr>
              <th class="table-link-cell"></th>
              <th><div class="table-content-wrap"><div class="table-text">User</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Item</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Reason Type</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Reason Description</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Status</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Date Created</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Date Updated</div></div></th>
              <th></th>
            </tr>
            @for (refund of refunds; track $index) {
              <tr class="table-link">
                <td class="table-link-cell">
                  <a [routerLink]="['/admin/refunds', refund._id]" tabindex="0" class="link-block"></a>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <a [routerLink]="['/admin/users', refund?.purchase?.userUid]" class="table-text link-underline-hover">{{ refund?.purchase?.user?.username }}</a>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap content-align-left">
                    @switch (refund?.purchase?.item?._index) {
                      @case (Note.indexName) {
                        <a [routerLink]="['/admin/notes', refund?.purchase?.item?._id]" class="table-text link-underline-hover"> {{ refund?.purchase?.detailedItem?.title }} </a>
                      }
                    }
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ refund?.reasonType }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ refund?.reasonDescription }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="item-details">
                      <div class="category status" [style.background-color]="(refund | getStatus).backgroundColour">
                        <div class="category-text status" [style.color]="(refund | getStatus).textColour">
                          {{ (refund | getStatus).text }}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ refund.dateCreated.toLocaleDateString("en-AU", {
                      month: "short",
                      day: "numeric",
                      year: "numeric"
                    }) }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ refund.dateUpdated.toLocaleDateString("en-AU", {
                      month: "short",
                      day: "numeric",
                      year: "numeric"
                    }) }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <button (click)="toggleContextMenu($event, refund)" type="button" class="button no-border circle-btn small transparent">
                      <i class="fi fi-rs-menu-dots-vertical icon mini-icon"></i>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </table>
        </div>
        <div class="items-footer">
          @if (isLoadMoreEnabled) {
            <button (click)="serveRefunds(refunds[refunds.length -1].sort)" class="pill-btn small button">
              <div class="small-text button-text-wrap">Load More</div>
            </button>
          } @else {
            <p class="text-fine-print align-center">You've reached the end. No more refunds beyond this point.</p>
          }
        </div>
      } @else {
        <div class="empty-message-wrap">
          <p class="footer-text">Search returned no results.</p>
        </div>
      }
    } @else {
      <div class="empty-message-wrap">
        <p class="footer-text"><a (click)="toggleLogin()" class="link-underline-hover pink">Log in</a> as an administrator/staff to view admin pages.</p>
      </div>
    }
  </div>
</div>
