<h3 class="settings-heading">Transactions</h3>
<div *ngIf="errorMessage" class="overview info-message">
  <div class="overview-left">
    <i class="fi fi-rr-cross-circle icon small-icon"></i>
    <div class="label-wrap">
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-section">
    @if (authenticationService.isLoggedIn && [NativeUser.AccountType.ADMIN, NativeUser.AccountType.STAFF].includes(nativeUser?.accountType || '')) {
      <form class="overview" id="filter" #form="ngForm" (ngSubmit)="serveTransactions()" novalidate>
        <div class="overview-left filters large">
          <div class="input-wrap">
            <label>ID*</label>
            <input [(ngModel)]="filters._id" required name="transactionId" autocomplete="transactionId" class="form-field input" placeholder="Enter a transaction ID" type="text">
          </div>
          <div class="input-wrap">
            <label>User UID*</label>
            <input [(ngModel)]="filters.userUid" required name="userUid" autocomplete="userUid" class="form-field input" placeholder="Enter a user UID" type="text">
          </div>
          <div class="input-wrap">
            <label>Purchase ID*</label>
            <input [(ngModel)]="filters.purchaseId" required name="purchaseId" autocomplete="purchaseId" class="form-field input" placeholder="Enter a purchase ID" type="text">
          </div>
          <div class="input-wrap">
            <label>Transaction Type*</label>
            <select [(ngModel)]="filters.transactionType" class="dropdown-sort select" name="type">
              <option value="">-- Any --</option>
              @for (type of Object.entries(Transaction.TransactionType); track $index) {
                <option value="{{type[1]}}">{{ type[0] }}</option>
              }
            </select>
          </div>
          <div class="input-wrap">
            <label>Status*</label>
            <select [(ngModel)]="filters.status" class="dropdown-sort select" name="status">
              <option value="">-- Any --</option>
              @for (status of Object.entries(Transaction.TransactionStatus); track $index) {
                <option value="{{status[1]}}">{{ status[0] }}</option>
              }
            </select>
          </div>
        </div>
        <div class="overview-right">
          <div class="item-actions no-stretch">
            <select [(ngModel)]="sortBy" class="dropdown-sort select" name="sortBy">
              <option value="date-created-desc">Date Created: Newest</option>
              <option value="date-created-asc">Date Created: Oldest</option>
              <option value="date-updated-desc">Date Updated: Newest</option>
              <option value="date-updated-asc">Date Updated: Oldest</option>
              <option value="amount-asc">Amount: Low to High</option>
              <option value="amount-desc">Amount: High to Low</option>
              <option value="fulfilment-date-desc">Fulfilment Date: Newest</option>
              <option value="fulfilment-date-asc">Fulfilment Date: Oldest</option>
            </select>
            <button type="submit" class="action-btn button pill-btn dark">
              <div class="button-text-wrap"><i class="fi fi-rr-search icon mini-icon white"></i>Search</div>
            </button>
            <button (click)="clearForm(form)" type="button" class="button circle-btn small">
              <i class="fi fi-rr-cross icon mini-icon"></i>
            </button>
          </div>
        </div>
      </form>
      @if (isLoading) {
        <div class="loading-container">
          <div class="loading-bar"></div>
        </div>
      } @else {
        <div class="menu-separator"></div>
      }
      @if (transactions.length > 0) {
        <div class="table-wrap">
          <table class="compact">
            <tr>
              <th class="table-link-cell"></th>
              <th><div class="table-content-wrap"><div class="table-text">User</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Item</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Type</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Amount</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Status</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Fulfilment Date</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Date Created</div></div></th>
              <th><div class="table-content-wrap"><div class="table-text">Date Updated</div></div></th>
              <th></th>
            </tr>
            @for (transaction of transactions; track $index) {
              <tr class="table-link">
                <td class="table-link-cell">
                  <a [routerLink]="['/admin/transactions', transaction._id]" tabindex="0" class="link-block"></a>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <a [routerLink]="['/admin/users', transaction.userUid]" class="table-text link-underline-hover">{{ transaction.user?.username }}</a>
                  </div>
                </td>
                <td>
                  @if ([Transaction.TransactionType.SALE, Transaction.TransactionType.REFUND].includes(transaction.info?.transactionType || "")) {
                    @switch (transaction.detailedItem?._index) {
                      @case (Note.indexName) {
                        <div class="table-content-wrap content-align-left">
                          <a [routerLink]="['/notes', transaction.detailedItem?._id]" class="table-text link-underline-hover"> {{ transaction.detailedItem?.title }} </a>
                        </div>
                      }
                    }
                  } @else {
                    <div class="table-content-wrap">
                      <div class="table-text">N/A</div>
                    </div>
                  }
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">
                      @switch (transaction.info?.transactionType) {
                        @case (Transaction.TransactionType.REFUND) {Refund}
                        @case (Transaction.TransactionType.SALE) {Sale}
                        @case (Transaction.TransactionType.WITHDRAWAL) {Withdrawal}
                      }
                    </div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap content-align-right">
                    <div class="table-text">{{ transaction.amount | formatPrice:FormatPricePipe.prefixType.PLUS_AND_MINUS }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="item-details">
                      <div class="category status" [style.background-color]="(transaction | getStatus).backgroundColour">
                        <div class="category-text status" [style.color]="(transaction | getStatus).textColour">
                          {{ (transaction | getStatus).text }}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ transaction.fulfilmentDate ? transaction.fulfilmentDate.toLocaleString("en-AU", {
                      month: "short",
                      day: "numeric",
                      year: "numeric",
                      hour: "2-digit",
                      minute: "2-digit",
                      hour12: true
                    }) : 'N/A' }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ transaction.dateCreated.toLocaleDateString("en-AU", {
                      month: "short",
                      day: "numeric",
                      year: "numeric"
                    }) }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <div class="table-text">{{ transaction.dateUpdated.toLocaleDateString("en-AU", {
                      month: "short",
                      day: "numeric",
                      year: "numeric"
                    }) }}</div>
                  </div>
                </td>
                <td>
                  <div class="table-content-wrap">
                    <button (click)="toggleContextMenu($event, transaction)" type="button" class="button no-border circle-btn small transparent">
                      <i class="fi fi-rs-menu-dots-vertical icon mini-icon"></i>
                    </button>
                  </div>
                </td>
              </tr>
            }
          </table>
        </div>
        <div class="items-footer">
          @if (isLoadMoreEnabled) {
            <button (click)="serveTransactions(transactions[transactions.length -1].sort)" class="pill-btn small button">
              <div class="small-text button-text-wrap">Load More</div>
            </button>
          } @else {
            <p class="text-fine-print align-center">You've reached the end. No more transactions beyond this point.</p>
          }
        </div>
      } @else {
        <div class="empty-message-wrap">
          <p class="footer-text">Search returned no results.</p>
        </div>
      }
    } @else {
      <div class="empty-message-wrap">
        <p class="footer-text"><a (click)="toggleLogin()" class="link-underline-hover pink">Log in</a> as an administrator/staff to view admin pages.</p>
      </div>
    }
  </div>
</div>
